<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Predict Marks</h1>

        <form action="/predict" method="POST">
            <input type="text" name="hours" placeholder="Enter hours for study">
            <br><br>

            <input type="submit" value="Check Marks">
        </form>

        <div class="result">
            Marks will be: {{ value }}
        </div>
    </div>
</body>
